<div class="container">
	<div class="jumbotron" data-ng-controller="UserCtrl">
		<a href="javascript:void(0)" style="text-decoration:none;"><h3><span class="fa fa-user">&nbsp;</span>User Registration</h3></a>
		<fieldset>
			<form data-ng-submit="insertUser()">
				<table class="table">
					<tr>
						<td ><span style="font-size:18px;font-weight:bolder;">Firstname</span></td>
						<td>
							<div class="input-group">
								<input type="text"  required width="100px" class="form-control" data-ng-model="userCredentials.firstname"/>
							</div>
						</td>
					</tr>
					<tr>
						<td ><span style="font-size:18px;font-weight:bolder;">Lastname</span></td>
						<td>
							<div class="input-group">
								<input type="text"  required width="100px" class="form-control" data-ng-model="userCredentials.lastname"/>
							</div>
						</td>
					</tr>
					<tr>
						<td ><span style="font-size:18px;font-weight:bolder;">Password</span></td>
						<td>
							<div class="input-group">
								<input type="password"  required width="100px" data-ng-model="userCredentials.password" class="form-control"/>
							</div>
							&emsp;
							<span data-ng-show="userCredentials.password!==''&&userCredentials.password.length>=6" class="fa fa-check-circle" style="color:green;"></span>
							<span class="fa fa-remove" style="color:red;" data-ng-show="userCredentials.password.length<6&&userCredentials.password!==''"></span>
						</td>
					</tr>
					<tr>
						<td ><span style="font-size:18px;font-weight:bolder;">Confirm </span></td>
						<td>
							<div class="input-group">
								<input type="password" required  data-ng-model="userCredentials.confirm" width="100px" class="form-control"/>
							</div>
							&emsp;
							<span data-ng-show="userCredentials.password===userCredentials.confirm&&userCredentials.confirm!==''"class="fa fa-check-circle" style="color:green;"></span>
							<span style="color:red;" data-ng-show="userCredentials.password!==userCredentials.confirm&&userCredentials.confirm!==''">Password does not match! </span>
						</td>
					</tr>
					<tr>
						<td ><span style="font-size:18px;font-weight:bolder;">User Priviledge </span></td>
						<td>
							<div class="input-group">
								Administrative Priviledge <input type="radio" required  data-ng-model="userCredentials.role" name="right" value="1"/>
								&emsp;Teacher Priviledge <input type="radio" required  data-ng-model="userCredentials.role" name="right" value="2"/>
							</div>
						</td>
					</tr>
					
					
				</table>
				<button type="submit" class="btn btn-success btn-block">Add User</button>
			</form>
		</fieldset>
	</div>
</div>