<div class="container" data-ng-controller="AdminCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-offset-3">&nbsp;
            </div>
            <div class="col-md-9">
                <div class="panel panel-danger">
                    <div class="panel panel-heading">
                        <h3 class="panel-title">Login </h3>
                    </div>
                        <div class="panel panel-body">
                        <form data-ng-submit="loginAdmin()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label><span class="fa fa-user"></span> Username&emsp;</label><input type="text" class="form-control" data-ng-model="adminCredential.username"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><span class="fa fa-lock"></span> Password&emsp;</label><input type="password" class="form-control" data-ng-model="adminCredential.password"/>
                                </div>
                            </div>
                            <br/>

                            <div class="alert alert-warning alert-dismissible" role="alert" data-ng-show="loginError">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                              <strong>Error!</strong> Incorrect Email or Password
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success btn-lg"><span class="fa fa-arrow-right"></span>&nbsp;Login</button>
                                </div>
                            </div>
                            </form>
                        </div>  
                    </div>
                </div>
        </div>      
    </div>
</div>
