<div class="jumbotron">
    <!-- Vote Progress -->
    <div class="container">
        <div class="panel panel-success">
            <div class="panel panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-ol"></i>&nbsp;Step 1 of 3</h3>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <center>
                    <div class="col-md-4">
                        <i class="fa fa-check-circle-o fa-2x"></i><br/><span>Step 1</span><br/>Student's Information
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-check-circle-o fa-2x"></i><br/><span>Step 1</span><br/>Vote Candidate
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-check-circle-o fa-2x"></i><br/><span>Step 1</span><br/>Facilitator Confirmation
                    </div>
                    </center>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{student.cStep}}%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Student Registration -->
        <div class="panel panel-default" data-ng-show="student.currentPage==='registration'">
            <form method="POST" data-ng-submit="student.registerStudent(this)">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                           <b> LRN (Learner's Reference Number) </b>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" maxlength="12" required data-ng-model="student.studentData.lrn" data-ng-change="student.lrnCheck()"/>
                        </div>
                        <div class="col-md-2" data-ng-show="student.invalidLRN">
                                <span class="fa fa-remove fa-2x" style="color:red;"></span> Invalid LRN
                            </div>
                        </div>
                        <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Firstname &nbsp;</label>
                            <div class="input-group">
                                <input type="text" class="form-control" required data-ng-model="student.studentData.firstname" placeholder="Firstname" required name="firstname"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Lastname &nbsp;</label>
                            <div class="input-group">
                                <input type="text" class="form-control"  required data-ng-model="student.studentData.lastname"placeholder="Lastname" required name="lastname"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Middle Name &nbsp;</label>
                            <div class="input-group">
                                <input type="text" class="form-control" required data-ng-model="student.studentData.middlename" placeholder="Middle Name" name="middlename"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Gender &emsp;</label>
                            <div class="input-group">
                                Male &emsp;<input type="radio" required data-ng-model="student.studentData.gender" value="Male" name="gender"/>&emsp;
                                Female &emsp;<input type="radio" required data-ng-model="student.studentData.gender" value="Female" name="gender"/>&emsp;
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Birthdate &emsp;</label>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select class="form-control"  required data-ng-model="student.bdate.month">
                                    <option value="{{date.month}}" data-ng-repeat="date in student.monthList">{{date.month}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <select class="form-control" required data-ng-model="student.bdate.date">
                                <option value="{{date}}" data-ng-repeat="date in student.days()">{{date}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" required data-ng-model="student.bdate.year">
                                <option value="{{years}}" data-ng-repeat="years in student.year()">{{years}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Grade &emsp;</label>
                            <div class="input-group">
                                <select name="grade" class="form-control" required data-ng-model="student.studentData.yearlevel">
                                    <option value="7" selected>Grade 7</option>
                                    <option value="8">Grade 8</option>
                                    <option value="9">Grade 9</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>Section &emsp;</label>
                            <div class="input-group">
                                <select name="section" class="form-control" required data-ng-model="student.studentData.section">
                                    <option value="{{section}}" data-ng-repeat="section in student.sectionList">{{section}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <div class="well well-sm">Teacher here</div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-show="student.errorPopup">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="alert alert-danger">
                            <p data-ng-bind="student.errorMessage"></p>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-10">
                        <input type="submit" style="width:inherit;" class="btn btn-primary btn-lg" data-ng-disabled="student.invalidLRN" value="Proceed"/>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
            </form>
        </div>
        <!-- Choose Voting Option -->
        <div data-ng-show="student.currentPage==='choose'">
            <div class="row" >
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                        <i class="fa fa-female fa-5x"></i>
                        <i class="fa fa-male fa-5x"></i>
                        </center>
                        <div class="caption">
                            <h3 align="center">Vote Individual</h3>
                            <p><b>Individual</b> - enables to you vote in student.your custom choice. You can customize your voting by choosing the right person
                            for every position.</p>
                            <p align="center"><button type="button" data-ng-click="student.vote('individual')" class="btn btn-success btn-lg" >Vote</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                        <i class="fa fa-group fa-5x"></i>
                        </center>
                        <div class="caption">
                            <h3 align="center">Vote Party</h3>
                            <p><b>Party</b> - select your favorite party for their unveiling platform. You simply vote the party including the candidate itself.</p>
                            <p align="center"> <button class="btn btn-success btn-lg" role="button" data-ng-click="student.vote('party')">Vote</button></p>
                        </div>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <!--<div class="alert alert-success">-->
                <center><code>
                <em>Voting is simply a way of determining which side is the stronger without putting it to the test of fighting</em>
                </code></center>
                <!--</div>-->
            </div>
        </div>
        <div data-ng-show="student.currentPage==='individual'">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <center>
                        <i class="fa fa-street-view fa-3x"></i>
                        <b style="font-size:18px;">Vote Wisely</b>
                        <i class="fa fa-street-view fa-3x"></i>
                        </center>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Voted Candidate Lists</div>
                        <div class="panel-body">
                            <table class="table">
                                <ul class="list-group">
                                    <li class="list-group-item">President : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.president,'president')">{{student.candidate.president}}</a></span></li>
                                    <li class="list-group-item">Vice President : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.vice_president,'vice_president')">{{student.candidate.vice_president}}</a></span></li>
                                    <li class="list-group-item">Secretary : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.secretary,'secretary')">{{student.candidate.secretary}}</a></span></li>
                                    <li class="list-group-item">Treasurer : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.treasurer,'treasurer')">{{student.candidate.treasurer}}</a></span></li>
                                    <li class="list-group-item">Public Information Officer : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.pio,'pio')">{{student.candidate.pio}}</a></span></li>
                                    <li class="list-group-item">Auditor :<span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.auditor,'auditor')">{{student.candidate.auditor}}</a></span></li>
                                    <li class="list-group-item">4<sup>rd</sup>-Year Representative : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.fourth,'fourth')">{{student.candidate.fourth}}</a></span><br/></li>
                                    <li class="list-group-item">3<sup>rd</sup>-Year Representative : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.third,'third')">{{student.candidate.third}}</a></span><br/></li>
                                    <li class="list-group-item">2<sup>rd</sup>-Year Representative : <span style="color:green;font-weight:bolder"><a href="javascript:void(0)" data-ng-click="student.getCandidateDetails(student.candidate.second,'second')">{{student.candidate.second}}</a></span><br/></li>
                                </ul>
                            </table>
                        </div>
                        <center>
                        <button class="btn btn-warning btn-lg" data-ng-click="student.candidateVote()">Vote Candidates
                        </button>
                        </center>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Candidates</center></div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <!-- Repeat Candidate List -->
                                <li class="list-group-item">President :
                                    <select class="form-control"
                                        data-ng-model="student.candidate.president">
                                        <option value="{{president.fullname}}" data-ng-repeat="president in student.candidateData.president track by $index">{{president.fullname}}</option>
                                        
                                    </select>
                                </li>
                                <li class="list-group-item">Vice President :
                                    <select class="form-control" data-ng-model="student.candidate.vice_president">
                                        <option value="{{vice.fullname}}" data-ng-repeat="vice in student.candidateData.vice_president track by $index">{{vice.fullname}}</option>
                                    </select>
                                </li>
                                <li class="list-group-item">Secretary :
                                    <select class="form-control" data-ng-model="student.candidate.secretary">
                                        <option value="{{secretary.fullname}}" data-ng-repeat="secretary in student.candidateData.secretary track by $index">{{secretary.fullname}}</option>
                                    </select>
                                </li>
                                <li class="list-group-item">Treasurer :
                                    <select class="form-control" data-ng-model="student.candidate.treasurer">
                                        <option value="{{treasurer.fullname}}" data-ng-repeat="treasurer in student.candidateData.treasurer track by $index">{{treasurer.fullname}}</option>
                                    </select>
                                </li>
                                <li class="list-group-item">Public Information Officer :
                                    <select class="form-control" data-ng-model="student.candidate.pio">
                                        <option value="{{pio.fullname}}" data-ng-repeat="pio in student.candidateData.pio track by $index">{{pio.fullname}}</option>
                                    </select>
                                </li>
                                <li class="list-group-item">Auditor :
                                    <select class="form-control" data-ng-model="student.candidate.auditor">
                                        <option value="{{auditor.fullname}}" data-ng-repeat="auditor in student.candidateData.auditor track by $index">{{auditor.fullname}}</option>
                                    </select>
                                </li>
                                <li class="list-group-item">4<sup>th</sup>-Year Representative :
                                    <select class="form-control" data-ng-model="student.candidate.fourth">
                                        <option value="{{fourth.fullname}}" data-ng-repeat="fourth in student.candidateData.fourth track by $index">{{fourth.fullname}}</option>
                                    </select><br/>
                                </li>
                                
                                <li class="list-group-item">3<sup>rd</sup>-Year Representative :
                                    <select class="form-control" data-ng-model="student.candidate.third">
                                        <option value="{{third.fullname}}" data-ng-repeat="third in student.candidateData.third track by $index">{{third.fullname}}</option>
                                    </select><br/>
                                </li>
                                
                                <li class="list-group-item">2<sup>nd</sup>-Year Representative :
                                    <select class="form-control" data-ng-model="student.candidate.second">
                                        <option value="{{second.fullname}}" data-ng-repeat="second in student.candidateData.second track by $index">{{second.fullname}}</option>
                                    </select><br/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Candidate's Profile</div>
                        <div class="panel-body">
                            <div data-ng-show="student.candidateInfo.name !== ''">
                                <center>
                                    <img class="img-responsive img-circle margin" src="img/pnhsLogo.png"/>
                                </center>
                                <h3  align="center"><i class="fa fa-user"></i>&nbsp;Name</h3 ><span>{{student.candidateInfo.fullname}}</span>
                                <h3 align="center"><i class="fa fa-gear"></i>&nbsp;Grade</h3 ><span>{{student.candidateInfo.year}}</span>
                                <h3 align="center"><i class="fa fa-quote-left"></i>&nbsp;Motto</h3 ><span><em>{{student.candidateInfo.motto}}</em></span>
                            </div>
                            <div data-ng-show="student.candidateInfo.name ===''">
                                <span style="color:red;">No Candidate Selected!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="student.currentPage==='party'">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <center>
                        <i class="fa fa-street-view fa-3x"></i>
                        <b style="font-size:18px;">Vote Wisely</b>
                        <i class="fa fa-street-view fa-3x"></i>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="well well-sm">
                    <center><span class="fa fa-list">
                        <b>&nbsp;   List of Parties</b>
                        <hr/>
                    </span></center>
                           <div class="well well-sm" data-ng-repeat="party in student.partyList">
                               <b><a href="javascript:void(0)" data-ng-click="student.getPartyInfo(party.party_id)">{{party.name}}</a></b>
                           </div>
                    </div>
                </div>
                <div class="col-md-9" data-ng-show="student.options">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3" style="border-right:2px solid blue;">
                                    <div class="well well-sm">
                                        <h4 align="center">OPTIONS</h4>
                                    </div>
                                    <ul type="none">
                                        <li><button class="btn btn-info btn-sm" data-ng-init="student.platform=false" data-ng-click="student.platform=true"><span class="fa fa-bullhorn">&nbsp;</span>Show Platform</button></li><br/>
                                        <li><button class="btn btn-warning btn-sm" data-ng-click="student.getListMembers()"><span class="fa fa-group">&nbsp;</span>List of Members</button></li><br/>
                                        <li><button class="btn btn-success btn-sm" data-ng-click="student.candidateVote()"><span class="fa fa-group">&nbsp;</span>Elect this Party</button></li><br/>
                                        <li><button class="btn btn-danger btn-sm" data-ng-click="student.options=false"><span class="fa fa-remove">&nbsp;</span>Close Window</button></li><br/>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <h2 align="center">{{partyFlag.name}}</h2>
                                    <p align="center" data-ng-bind="student.partyFlag.description"></p>

                                    <pre data-ng-show="student.platform" align="center"><b>Platform</b> : {{partyFlag.platform}}</pre>
                                    <br/>
                                    <table class="table table-striped" data-ng-show="student.members.length>0">
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Motto</th>
                                        <tr data-ng-repeat="member in student.members track by $index">
                                            <td>{{member.fullname}}</td>
                                            <td>{{member.position}}</td>
                                            <td>{{member.motto}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div data-ng-show="student.currentPage==='finalize'">
            <div class="row" data-ng-show="student.true">
                <h2>You're almost done!</h2>
                <div class="col-md-5">
                    <div class="alert alert-info">
                        <span class="fa fa-exclamation">&nbsp;Please approach your administrator to input a valid passcode!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="password" data-ng-model="student.passcode" class="form-control"/>
                </div>
                <div class="col-md-1">
                    <div class="pull-left">
                        <span class="fa fa-question" style="font-size:11px;">&nbsp;<a href="javascript:void(0)" data-ng-click="student.why()">Why?</a></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success btn-sm" data-ng-click="student.verify()"><span class="fa fa-check"></span>&nbsp;Verify</button>
                </div>
            </div>
        </div>
    </div>
</div>